.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
}
  
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333; /* Adjust spinner color */
  border-radius: 50%;
  width: 40px; /* Adjust size of the spinner */
  height: 40px; /* Adjust size of the spinner */
  animation: spin 1s linear infinite; /* Animation for spinning effect */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
  